<!doctype html>
<html class="no-js" lang="sv">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">

  <meta name="theme-color" content="#fafafa">
  <script src="js/vendor/modernizr-3.11.2.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>

</head>

<body id="mainbody">
  <!-- Add your site or application content here -->
    <div id="header">
      <h1>Paananen Finder</h1>
    </div>
    <div id="image">
        <img id="karta" src="http://192.168.1.240:3000/kartor/karta1_rak.png">
    </div>
    <div id="footer">
        <p>Av Robert</p>
    </div>
</body>

</html>
